* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/img/main-background.jpg');
  background-position: center;
}

/* Global Settings */

/* A has no undertext and default color */
a {
  text-decoration: none;
  color: #000;
}

/* Default Setting */

button {
  background-color: #0080ff;
  color: #fff;
  cursor: pointer;

  border-color: #0080ff;
}

button:hover {
  background-color: #4ca6ff;
}

button:active {
  transform: scale(0.95);
}

button:disabled {
  background: #efefef;
  cursor: default;
  border: none;
}

ul {
  list-style: none;
}

textarea {
  resize: none; /* not resizable */
  outline: none;
  border: none;
}

textarea:focus {
  background: #e5e5e5;
  outline: none;
  border: none;
}

/* UTILITY CLASSES */

.label-text {
  font-size: 0.75rem;
  font-weight: 400;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* CSS styling for Main Page */
.container {
  height: 100vh;

  display: flex;
}

header {
  width: 280px;

  background: #fff;
}

.header-container {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
}

.header-container .items {
  border: 1px solid gray;
}

.header-container .title {
  height: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container .title span {
  /* border: 1px solid gray; */
}

.header-container .my-name {
  font-size: 1.5rem;
}

.header-container .social-media-items {
  font-size: 1.25rem;
}



.header-container .create-task-btn-box {
  height: 80px;

  display: flex;
  align-items: center;
}

.header-container #create-task {
  width: 75%;
  height: 50%;
  
  border-radius: 1rem;
}

.header-container .category {
  height: 200px;

  display: flex;
  flex-direction: column;
}

.category p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category p span {
  font-size: 1.5rem;
  font-weight: 550;
}

/* create category clicked */
.category p i {
  color: #5a5a5a;
  margin-right: 20px;
  cursor: pointer;
}

.category p i:active {
  transform: scale(0.95);
}

main {
  flex: 1;

  background: lightblue;
}

.main-container {
  width: 100%;
  height: 100%;
}

/* ------------------------------ */
/* TASK MODAL */

.task-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* To be removed for later */
  background: #fff;
  border: 1px solid black;
  
  width: 600px;
  height: 450px;
  border-radius: 10px;

  /* Shadow on all corners */
  box-shadow: 0px 0px 8px 4px #808080;
  

  display: flex;
  flex-direction: column;
  
}

.task-container .main {
  height: 380px;
  padding: 10px;

  display: flex;
}

.task-container .main .left {
  width: 80%;
  height: 100%;
  border-right: 1px solid #808080;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
}

.main .left .title-box {
  /* To be removed */
  border: 1px solid white;

  display: flex;
  flex-direction: column;
}

.title-box textarea {
  height: 2rem;
  font-size: 2rem;
}

.main .left .description-box {
  display: flex;
  flex-direction: column;
}

.task-container .main .right {
  width: 20%;
  height: 100%;
  padding-left: 10px;

  display: flex;
  flex-direction: column;
}

.main .right .category-box {
  display: flex;
  flex-direction: column;
}

.category-box select {
  margin-top: 5px;
}

.task-container .bottom {
  height: 70px;

  display: flex;
}

.task-container .bottom .create-task-box {
  width: 100%;
}

.bottom .create-task-box .add-task-btn {
  height: 100%;
  width: 100%;
  border-radius: 0 0 10px 10px;
  overflow: hidden;

  box-shadow: 0px -5px 5px 0px #808080;
}



/* ------------------------------ */
/* CATEGORY MODAL */

.category-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* To be removed for later */
  background: #fff;
  
  width: 400px;
  height: 160px;
  border-radius: 10px;

  /* Shadow on all corners */
  box-shadow: 0px 0px 8px 4px #808080;
  

  display: flex;
  flex-direction: column;
}

.category-container .main {  
  height: 110px;
  padding: 15px;

  display: flex;
  flex-direction: column;
}

.main textarea {
  margin-top: 0.5rem;
  height: 2rem;
  font-size: 2rem;
}

.category-container .btn-box {  
  height: 50px;
}

.btn-box #create-category-btn {
  height: 100%;
  width: 100%;
  border-radius: 0 0 10px 10px;

  box-shadow: 0px -5px 5px 0px #808080;
}


