* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: lightgray;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-box {
  background: lightsalmon;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}