* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: darkgray;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.task-modal {
  background: #fff;
  border: 2px solid black;
  border-radius: 0.75rem;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.modal-items {
  border: 1px solid black;
}

.title-box {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.description-box {
  flex: 8;

  display: flex;
  flex-direction: column;
}

.create-task-box {
  flex: 1;

  display: flex;
}

.create-task-box .add-task-btn {
  width: 100%;
}



